PORT_BACKEND= // Replace with your desired backend port, e.g., 5000
STRIPE_SECRET_KEY= // Replace with your stripe secret key
FRONTEND_URL= // Replace with your frontend URL, e.g., "http://localhost:5173"
MONGO_URL= // Replace with your MongoDB connection string, e.g., "mongodb://localhost:27017/e-commerce"
JWT_SECRET= // Replace with a strong secret key for JWT, e.g., "your_jwt_secret_key_here"